head {
    text-align: center;
    font-family: "Avenir Next", Calibri, Verdana, sans-serif;
    /*font-size: 110%;*/
}
body {
    text-align: center;
    font-family: "Avenir Next", Calibri, Verdana, sans-serif;
    /*font-size: 110%;*/
}
p {
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Avenir Next", Calibri, Verdana, sans-serif;
}



