#title{
    /* Unsized default (smallest) */
    background-color:orange;
    padding: 20px 50px 20px 50px;
    text-align: center;
}


body {
    background-image: url("images/homePics/shell.png");
    background-size: 100%;
    /*background-color: rgb(226, 226, 226);*/
}


.column {
    float: right;
    padding: 0.5%;

    /*float: right;
    margin-top: 0.3%;
    margin-left: 0.75%;
    margin-right: 0.75%;
    display: inline-block;*/
}


  
/*>>><<<*/
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
 
}

.container .image {
  width: 40%;
  /*margin-left: 7.5%;
  margin-right: 7.5%;*/
}

.container img {
  width: calc(100% - (20px * 2));
  margin: 2px;
  margin-top: 2%;
  margin-bottom: 5%;
}
/*>>><<<*/
  
.row::after {
    
    content: "";
    clear: both;
    display: table;
}


/*.about-pic {
    white-space: nowrap;
    margin-left: 70%;
    margin-top: 2%;
    
    width: 7.5%;
    height: auto;
}

.donate-pic {
    white-space: nowrap;
    margin-left: 84%;
    margin-top: 2%;
    
    width: 7.5%;
    height: auto;
}
*/

  
h1 {
    margin-left: 20px;
    font-family: "Arial", Helvetica, sans-serif;
    color:#E6E6E6;
    /* Ex text "Courier New", Courier, monospace; */
  }
h4 {
    font-family: "Arial", Helvetica, sans-serif;
}

p {
    margin-left: 20px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    color: rgb(101, 100, 100);


    font-size:18px;
    line-height: 1.3;
}
