body {
  font-family: "Avenir Next", Calibri, Verdana, sans-serif;
  font-size: 115%;
}
  
h1 {
    margin-left: 20px;
    font-family: "Arial", Helvetica, sans-serif;
    /* Ex text "Courier New", Courier, monospace; */
  }
h4 {
    font-family: "Arial", Helvetica, sans-serif;
}




/*p {
    margin-left: 20px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    color: rgb(101, 100, 100);


    font-size:18px;
    line-height: 1.3;
}*/
