h1 {
    font-family: "Avenir Next", Calibri, Verdana, sans-serif;
    font-size: 250%;
    /*text-align: center;
    /*color: whitesmoke;*/
    margin-bottom: 1%;
    margin-top: 1%;
}

head {
    float: left;
}
.column {
    float: right;
    padding: 0.5%;
}
body {
    /*color: whitesmoke;*/
    /*
    
    text-align: center;     /* <<---- THIS MIGHT NOT STAY */
    font-family: "Avenir Next", Calibri, Verdana, sans-serif;
    font-size: 115%;
   
    
}
.hr {
    margin-top: 0%;
    margin-bottom: 2.5%;
}

.linkiv {
    margin-left: 15%;
    margin-right: 15%;
}
    

p {
    flex: 1;
    margin-left: 10%;
    margin-right: 10%;
    
}
iframe {
    margin-left: 1.5%;
    margin-top: 2.5%
    /*flex: 0.85;*/

}
.column {
    float: right;
    padding: 0.5%;
}
.centerpar {
    text-align: center;
}